
<!DOCTYPE html>
<html lang="en">
  <head>
     <title>Measuring Marketing Impact</title>

   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="http://getbootstrap.com/docs/4.1/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
      <script src="../static/js/jquery-1.11.2.js"></script>
  <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- Plotly.js -->
  
	
  </head>

  <body>

    <div class="container">
      <div class="header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
        <span class="navbar-toggler-icon"></span>
      </button>

       <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showSignup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showSignin">Sign In</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/userHome">Results List</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
         <h3 class="text-muted"></h3>
      </div>
 <div class="jumbotron">
<iframe src="{{premade}}" width= 100% class="myIframe"></iframe> 
<script type="text/javascript" language="javascript"> 
$('.myIframe').css('height', $(window).height()+'px');
</script>
</div>
	  
	
      

      <footer class="footer">
        <p>&copy; Ted Lorenzen 2018</p>
      </footer>

    </div>
  </body>
</html>

